

<!--<div class="mbox">-->

    <div class="index">
        <div class="index__background">
            <div class="video-bg" data-vid="1">
                <video preload="auto" autoplay="autoplay" loop="loop">
                    <source src="../images/work.mp4" type="video/mp4">
                </video>
            </div>
            <div class="video-bg hide" data-vid="2">
                <video preload="auto" autoplay="autoplay" loop="loop">
                    <source src="../images/vid2.mp4" type="video/mp4">
                </video>
            </div>
            <div class="video-bg hide" data-vid="3" style="bottom: 0px;">
                <video preload="auto" autoplay="autoplay" loop="loop">
                    <source src="../images/vid.mp4" type="video/mp4">
                </video>
            </div>
        </div>

        <div class="index__menu">
            <div class="index__logo">
                <a href="#"><img src="../images/shark-cut.png" alt=""></a>
            </div>
            <ul class="index__list">
                <li class="index__list-item"><a href="#">Home</a></li>
                <li class="index__list-item"><a href="#">FAQ</a></li>
                <li class="index__list-item"><a href="#">Works</a></li>
                <li class="index__list-item"><a href="#">Forum</a></li>
                <li class="index__list-item"><a href="#">Contacts</a></li>
            </ul>
            <div class="index__interface">
                <div class="index__bg-buttons">
                    <button type="button" class="index__bg-button js-bg" data-vid="1"><span>1</span></button>
                    <button type="button" class="index__bg-button js-bg" data-vid="2"><span>2</span></button>
                    <button type="button" class="index__bg-button js-bg" data-vid="3"><span>3</span></button>
                    <button type="button" class="index__bg-button js-bg" data-vid="0"><span>X</span></button>
                </div>
                <div class="index__socials">
                    <a href="#" class="index__social">
                        <svg width="22" height="22">
                            <use xlink:href="#facebook"></use>
                        </svg>
                    </a>
                    <a href="#" class="index__social">
                        <svg width="22" height="22">
                            <use xlink:href="#twitter"></use>
                        </svg>
                    </a>
                    <a href="#" class="index__social">
                        <svg width="22" height="22">
                            <use xlink:href="#in"></use>
                        </svg>
                    </a>
                    <a href="#" class="index__social">
                        <svg width="22" height="22">
                            <use xlink:href="#youtube"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>

        <div class="index__body">
            <div class="mbox">
                <div class="index__content">
                    <h1>Welcome, visitor!</h1>
                    <p>Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по умолчанию, так что поиск по ключевым словам "lorem ipsum" сразу показывает, как много веб-страниц всё ещё дожидаются своего настоящего рождения. За прошедшие годы текст Lorem Ipsum получил много версий. Некоторые версии появились по ошибке, некоторые - намеренно (например, юмористические варианты).</p>
                    <h1>Welcome, visitor!</h1>
                    
                    <div class="index__image-block">
                        <img src="../images/wat.jpg" alt="">
                        <h3>Grandma!</h3>
                        Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста
                    </div>
                    
                    <p>Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по умолчанию, так что поиск по ключевым словам "lorem ipsum" сразу показывает, как много веб-страниц всё ещё дожидаются своего настоящего рождения. За прошедшие годы текст Lorem Ipsum получил много версий. Некоторые версии появились по ошибке, некоторые - намеренно (например, юмористические варианты).</p>
                    <h1>Welcome, visitor!</h1>
                    <p>Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по умолчанию, так что поиск по ключевым словам "lorem ipsum" сразу показывает, как много веб-страниц всё ещё дожидаются своего настоящего рождения. За прошедшие годы текст Lorem Ipsum получил много версий. Некоторые версии появились по ошибке, некоторые - намеренно (например, юмористические варианты).</p>
                    <h1>Welcome, visitor!</h1>

                    <div class="index__image-block index__image-block--right">
                        <img src="../images/wat.jpg" alt="">
                        <h3>Grandma! To the rigth!</h3>
                        Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста
                    </div>

                    <p>Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по умолчанию, так что поиск по ключевым словам "lorem ipsum" сразу показывает, как много веб-страниц всё ещё дожидаются своего настоящего рождения. За прошедшие годы текст Lorem Ipsum получил много версий. Некоторые версии появились по ошибке, некоторые - намеренно (например, юмористические варианты).</p>
                    <h1>Welcome, visitor!</h1>
                    <p>Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по умолчанию, так что поиск по ключевым словам "lorem ipsum" сразу показывает, как много веб-страниц всё ещё дожидаются своего настоящего рождения. За прошедшие годы текст Lorem Ipsum получил много версий. Некоторые версии появились по ошибке, некоторые - намеренно (например, юмористические варианты).</p>

                    <div class="open-video-box">
                        <a href="#" class="play-video" >
                            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 width="25px" height="25px" viewBox="0 0 477.909 477.909" style="enable-background:new 0 0 477.909 477.909;"
                                 xml:space="preserve">
                                <g>
                                    <polygon points="336.478,258.07 241.12,313.838 145.762,369.609 145.762,258.07 145.762,146.537 241.12,202.304 	"/>
                                    <path d="M449.234,28.674H28.674C12.841,28.674,0,41.516,0,57.349V420.56c0,15.831,12.841,28.675,28.674,28.675h420.56
                                        c15.84,0,28.675-12.844,28.675-28.675V57.349C477.909,41.511,465.074,28.674,449.234,28.674z M377.548,47.791
                                        c10.538,0,19.116,8.573,19.116,19.116s-8.578,19.117-19.116,19.117s-19.116-8.574-19.116-19.117S367.01,47.791,377.548,47.791z
                                         M324.978,47.791c10.539,0,19.117,8.573,19.117,19.116s-8.578,19.117-19.117,19.117c-10.538,0-19.116-8.574-19.116-19.117
                                        S314.439,47.791,324.978,47.791z M449.234,420.56H28.674V105.14h420.56V420.56z M430.118,86.023
                                        c-10.539,0-19.117-8.574-19.117-19.117s8.578-19.116,19.117-19.116c10.538,0,19.116,8.573,19.116,19.116
                                        S440.656,86.023,430.118,86.023z"/>
                                </g>
                            </svg>
                            <span>Видео</span>
                        </a>
                    </div>


                </div>



            </div>
        </div>


    </div>


